h2{
    color: green;
    font-style: italic;
}
.adder{
    color: grey
}
input{
    border-radius: 8px;
    border: solid;
    color: brown;
    text-align: center;
}
button{
    border-radius: 8px;
    border: solid;
    color:black;
    border-width: 1px;
    margin-left: 10px;
    padding-left:6px;
    background-color: greenyellow;
    text-align: center;

}
